/* Begin NAV-BAR */

.main-nav{
    background-color: #212529;
    width: 250px;
    height: 100vh;
  }
  
  .main-nav header{
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
  /*     justify-content: center; */
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
  }
  
  .main-nav .nav-links{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-top: 0px; */
  
  
  }
  
  .main-nav .nav-links a.nav-item{
    text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
    border-radius: 5px;
  }
  
  .main-nav .nav-links a.nav-item:hover{
    background-color: #0d6efd;
    display: block;
  }
  