/* Begin NAV-BAR */

.main-nav{
  background-image: linear-gradient(to right, #141e30,#243b55) !important;
    /* background-color: #212529; */
    width: 250px;
    height: 100vh;

  }
  
  .main-nav header{
    font-size: 20px;
    font-weight: 600;
    color: white;
    display: flex ;
    align-items: center;
    justify-content: center ;
    height: 50px;
    border-bottom: 1px solid gray;
  }
  
  .main-nav .nav-links{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-top: 0px; */
  
  
  }
  
  .main-nav .nav-links a.nav-item{
    text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .main-nav .nav-links a.nav-item:hover{
    background-color: rgba(255, 255, 255, 0.1);

    display: flex;
  }
  