.main-container{
  display: flex;
  margin: 0px;
}

.padding-left-right-20{
  padding-left: 20px;
  padding-right: 20px;
}

/* End NAV-BAR */

/* Begin container */
.container{
  
  width: 100%;
}

.container .main-header{
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 350;
  font-size: 22px;
  padding-left: 20px;

}

/* begin BUTTONS*/
.btn{
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

.btn.btn-dark{
  background-image: linear-gradient(to right, #141e30,#243b55) !important;
  border-color: #212529;
  color: #fff;
  vertical-align: middle;
  
}

.btn.btn-warning{
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
  margin-right: 10px;
}
/* end BUTTONS */

/* begin MARGIN */
.margin-left-10{
  margin-left: 10px;
}
.margin-right-10{
  margin-right: 10px;
}

.display-none{
  display: none;
}
/* LOADING */








