.form{
    width: 100%;
    
 }
 
 .form-group{
     
     margin-top: 15px;
     /* height: 40px;
     display: flex; */
 }
 
 .form-group label{
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
     
 }
 
 .form-group input{
     width: 100%;
     border: 1px solid #ced4da;
     height: 30px;
     border-radius: 0.25rem;
     padding-left: 10px;
     box-sizing: border-box;
 }
 .form .actions{
     margin-top: 20px;
     text-align: right;
     display: flex;
     justify-content: flex-end;
 
 }